<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Attempts" value="3" />
    <add key="Contract1" value="~/views/Contract1.html" />
    <add key="Contract2" value="~/views/Contract2.html" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

    <add key="ContractSavePath" value="ftp://10.30.1.230/Unipay_Attachment/" />
    <add key="ContractSaveUserName" value="zensarftp" />
    <add key="ContractSavePassword" value="Zens@r11" />

    <!--Prod-->
    <!--<add key="UploadDocumentTargetFolderPath" value=" \\10.29.111.30\Unipay_CustDoc\"/>-->

    <!--UAT-->
    <!--<add key="UploadDocumentTargetFolderPath" value=" \\10.29.111.30\Unipay_CustDoc\"/>-->

    <!--Development-->
    <add key="UploadDocumentTargetFolderPath" value="D:\UploadDocumentTargetFolderPath\" />

    <add key="BrachCode" value="900" />
    <add key="MailContent" value="~/views/MailContent.html" />
    <add key="TPMailContent" value="~/views/TPMailContent.html" />
    <add key="TPMailContract" value="~/views/TPMailContract.html" />
    <add key="UpdateTransaction" value="~/views/UpdateTransactionContent.html" />
    <add key="IsServiceActive" value="true" />
    <add key="MambuBaseUrl" value="https://apigee-sit.unicomer.com/credit/loan/v1" />
    <add key="MambuTokenUrl" value="https://apigee-sit.unicomer.com/oauth2/token" />
    <add key="MambuGrantType" value="client_credentials" />
    <add key="MambuClientId" value="A0kKoJtaucvNvsyBAx6QAd6RgNAJ5ElY00silEfE19RGmQgJ" />
    <add key="MambuClientSecret" value="6lFvd5CQFWgujNyJJbfBu5oEwFzvJiBildAEQiQQptBy2s7yNCeZwUuWAR8hJMQf" />
    <add key="MambuClientScope" value="mambu_scope" />
    <add key="WorkflowBaseUrl" value="https://apigee-uat.unicomer.com/integrations-uat/credits" />
    <add key="WorkflowTokenUrl" value="https://apigee-uat.unicomer.com/v1/oauth2/token" />
    <add key="WorkflowGrantType" value="client_credentials" />
    <add key="WorkflowClientId" value="w6kFYbJnAG9pczEeaTIVte8jM9ToW0hw7RYpMz5Ec2pH3cFl" />
    <add key="WorkflowClientSecret" value="v4oNWUY4cdGApIIF8xvdqMSzXXR8Blk0h5wgYQZjuPE3NR2Wmnmghm0m8WI5faqT" />
    <add key="WorkflowAccept" value="*/*" />
    <add key="WorkflowClientScope" value="workflow_scope" />
    <add key="EmmaBaseUrl" value="https://apigee-sit.unicomer.com/integrations-sit/business-emma" />
    <add key="EmmaTokenUrl" value="https://apigee-sit.unicomer.com/oauth2/token" />
    <add key="EmmaGrantType" value="client_credentials" />
    <add key="EmmaClientId" value="oukoAAoHHFsBWLPqrt67ZuGnH4IBjo1RxwwlWIJy2A8Acsbx" />
    <add key="EmmaClientSecret" value="098mxZRyiyeA1sglGp7CGYdW91GCxLZzNl6iAuxVOxlfsoQcwvcFUfGnTio2WG35" />
    <add key="EmmaAccept" value="*/*" />
    <add key="EmmaClientScope" value="emma_scope" />
    <add key="LogApiSuccessResponse" value="true" />
    <add key="LogDbError" value="true" />
    <add key="LogDbValidation" value="true" />
    <add key="LogApiError" value="true" />
    <add key="LogApiRequest" value="true" />

    <!--Added For APIGEE Headers-->
    <add key="X-country" value="JM" />
    <add key="X-brand" value="unknown" />
    <add key="X-storeRef" value="unknown" />
    <add key="X-userTx" value="" />
    <add key="X-channelRef" value="POS" />
    <add key="X-consumerRef" value="COSACS" />
    <add key="X-typeProcessRef" value="Programmed" />
    <add key="X-typeProduct" value="All" />
    <add key="X-typeProductHP" value="HP" />
    <add key="X-typeProductCL" value="CL" />
    <add key="X-environment" value="SIT" />
    <add key="Schedule" value="schedule" />
    <add key="Payment" value="payment" />
    <add key="Payoff" value="payoff" />
    <add key="Reverse" value="reverse" />
    <!--Added For APIGEE EMMA Headers-->
    <add key="EXbrand" value="EMMA" />
    <add key="EXstoreRef" value="EMMA" />
    <add key="EXprocessRef" value="Shopping cart"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
  </system.web>
  <elmah>
    <security allowRemoteAccess="yes" />
    <!--<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Default" applicationName="Unipay"/>-->
    <errorLog type="Blue.Elmah.AwsSnsErrorLog, Blue.Elmah" applicationName="UnipayApi" connectionStringName="Default" subjectPrefix="DEV" awsAccessKeyId="AKIAIHZENRM7JSD53S2A" awsSecretAccessKey="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" topicArn="arn:aws:sns:us-east-1:254349539982:Cosacs-Errors" />
  </elmah>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="AwsSnsAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Blue.Cosacs.Web.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="AwsSnsAppender" type="Blue.log4net.Appender.AmazonSimpleNotificationServiceAppender,Blue.log4net">
      <!-- AWS Credentials for "cosacs" user -->
      <subjectPrefix value="DEV" />
      <awsAccessKeyId value="AKIAIHZENRM7JSD53S2A" />
      <awsSecretAccessKey value="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" />
      <topicArn value="arn:aws:sns:us-east-1:254349539982:Cosacs-Errors" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Elmah" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11517.0" newVersion="1.1.11517.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="cd2d24cd2bace800" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.2" newVersion="1.5.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.39.0" newVersion="1.5.39.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
  </system.webServer>
</configuration>